
footer{
  height: 60px;
  width: 100%;
  background-color: #c94c4c;
  position: fixed;
  bottom: 0;
}

.infofooter{
  max-width: 400px;
  float: left;
}

.contacts{
  max-width: 400px;
}

.copyrights {

  margin: 15px;
  text-align: center;
}
