
body{
  background-color: lightgrey;
  min-width: 400px;
}

main{
  min-height: 400px;
}

.off-canvas{
  text-align: center;
  background-color: black;
  color: white;
  font-size: 16px;
}

.modal{
  width: 40%;
}

.container{
  padding: 20px;
}

.title-bar-img {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 30%;
  margin-left: 30px;
}


.about{
  margin: auto;
  text-align: center;
}
