

li{
  list-style-type: none;
  padding-top: 5px;
}

li.toplist{
  border: solid 1px;
  width: 100%;
  background-color: #a3a3a3;
}

.elementlist:nth-child(even) {
  background-color: #f4f4f4;
}

.elementlist:hover {
  background-color: lightblue !important;
}


span{
  display: table-cell;
  text-align: center;
}

span.tasklist-item-id{
  min-width: 30px;
}


span.tasklist-item-description{
  min-width: 400px;
  max-width: 400px;
  overflow: hidden;
}

span.tasklist-item-date{
  min-width: 200px;
}


span.tasklist-item-createdby{
  min-width:200px;
}

span.tasklist-item-duedate{
  min-width: 200px;
}

span.tasklist-item-assignedto{
  min-width: 200px;

}

span.tasklist-item-priority{
  min-width: 150px;
}

span.tasklist-item-status{
  min-width: 150px;
}


span.tasklist-item-doneby{
  min-width: 200px;
}

span.tasklist-item-delete{
  width:100px;
  margin: auto;
  position: relative;
  bottom: -5px;
}

span.emptySpace{
  min-width: 40px;
}


.tasklist-item-delete img{
  float: right;
  max-height: 20px;
  max-width: 20px;
}

.btnDelete{
  float: right;
}

.btnAdd{
  padding: 10px;
  position: fixed;
  bottom: 80px;
  right: 30px;
}

.btnAdd img{
  max-height: 50px;
  max-width: 50px;
}
